.pixel-art {
    width: 528px;
    height: 528px;
    margin: auto;
}


.pixel-art div {
    height: 3rem;
}

.red {
    background-color: #f62b25;
}

.brown {
    background-color: #7e3f14;   
}

.black {
    background-color: black;
}

.skin {
    background-color: #fcc376;
}

.blue {
    background-color: #4554c9;
}

.yellow {
    background-color: #fedd50;
}