/* [class^="col"] {
    background-color: rgb(30, 103, 205);
    height: 4rem;
    border: 2px solid white;
    display: flex;
    color: white;
} */

.exercise .row>div {
    background-color: rgb(30, 103, 205);
    padding: 1rem;
    min-height: 4rem;
    border: 2px solid white;
    display: flex;
    color: white;
}

.exercise .row>div>div {
    background-color: limegreen;
    height: 100%;
    padding: 1rem;
    border: 2px solid rgb(30, 103, 205);
}


.exercise [class^="col-"] {
    justify-content: center;
    align-items: center;
}